.navbar-default .navbar-brand {
  color: #0069ff;
  font-size: 25px;
}

.bold {
  font-weight: bold;
}

.navbar-default .navbar-nav>li>a {
  color: rgba(3,27,78,.7);
  font-weight: bold;
}

.nav.navbar-nav.navbar-right li a {
  color: #0069ff;
  border: 1px solid #0069ff;
}
