.navbar {
  margin-bottom: 0;
}

.navbar .left,
.navbar .right {
  float: left;
  width: 50%;
  height: 40px;
  line-height: 40px;
}

.border_topnav {
  border-bottom: 1px solid black;
}

.container-fluid .right ul {
  margin-bottom: 0;
}

.navbar .left span {
  background-color: #15cd72;
  padding: 5px;
  border-radius: 5px;
}

.navbar-default .navbar-brand {
  color: #0069ff;
  font-size: 25px;
}

.padd {
  padding: 5px 20px;
}

.blue {
  color: #0069ff;
}

.bold {
  font-weight: bold;
}

.navbar-default .navbar-nav>li>a {
  color: rgba(3,27,78,.7);
  font-weight: bold;
}

.background-light-blue {
  background-color: #0248ff;
}

section.welcome .container {
  margin-top: 104px;
}

.white {
  color:white;
}

.welcome h1 {
  font-size: 60px;
  line-height: 60px;
}

.line-height30 {
  line-height: 30px;
}

.padd_col {
  padding-top: 70px;
}

.deploy {
  width: 100%;
  background-color: white;
  padding: 30px;
}

.border-radius {
  border-radius: 5px;
}

section.welcome .deploy input,
section.welcome .deploy button,
section.welcome .deploy>a {
  width: 100%;
  margin-bottom: 20px;
  padding: 10px;
}

a {
  color:black;
}

section.welcome .deploy button {
  background-color: #15cd72;
  font-size: 20px;
}

section.welcome .deploy>a:hover {
  background-color: #dbdbdb;
}

section.welcome .deploy p {
  margin-top: 30px;
}

section.welcome .deploy h2 {
  font-size: 30px;
  margin-bottom: 30px;
}

.background-light-grey {
  background-color: #dddddd;
}

.mt-50 {
  margin-top: 50px;
}

.mb-50 {
  margin-bottom: 50px;
}

.light-grey {
  color: #565656;
}

section.customer img {
  width: 100%;
}

section.deploy_and_scale ul li {
  list-style-type: none;
  font-size: 25px;
  margin-bottom: 40px;
}

section.deploy_and_scale i,
section.the_features_your_business_needs i {
  font-size: 30px;
}

section.designed_for_developers img {
  width: 70%;
  margin: 50px auto;
}

.background-blue {
  background-color: #07026d;
}

section.service_world a {
  color: #00d7d2;
}

section.service_world hr {
  margin: 10px auto;
}

section.development_teams .box {
  width: 60%;
  margin: 30px auto;
  background-color: white;
  padding-bottom: 80px;
}

section.development_teams .box img {
  width: 30%;
  height: auto;
  margin: 30px 0;
}

section.development_teams small {
  display: block;
  margin-bottom: 30px;
}

section.create_your_account a {
  background-color: white;
  padding: 10px 20px;
  display: inline-block;
  margin-top: 20px;
}

footer p {
  font-size: 17px;
}

footer p a{
  color: #565656;
}

footer li {
  font-size: 30px;
}

@media (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

@media screen and (max-width: 767px) {

  section.welcome .container {
    margin-top: 61px;
  }

  .m-170 {
    margin: 50px 0 50px 0;
  }

  #mt-0-xs {
      margin-top: 0;
  }

  .padd_col {
    padding-top: 0px;
  }

  .mb-50-xs {
    margin-bottom: 50px;
  }

  section.welcome .col-md-4{
    margin-top: 0px;
    margin-bottom: 100px;
  }


  section.designed_for_developers img {
    width: 100%;
  }

  section.development_teams .box {
    width: 100%;
  }

  section.service_world .second_column {
    margin-top: 60px;
  }

}

@media screen and (min-width: 768px) and (max-width: 992px) {

  .mb-50-sm {
    margin-bottom: 50px;
  }

  .padd_col {
    padding-top: 0;
  }

}
